<h1>Carrito {{cid}}</h1>

{{#if products.length}}
  <table>
    <thead>
      <tr>
        <th>Producto</th>
        <th>Cantidad</th>
        <th>Stock</th>
        <th>Precio unitario</th>
        <th>Precio total</th>
      </tr>
    </thead>
    <tbody>
        {{#each products}}
          <tr>
            <td>{{title}}</td>
            <td>{{quantity}}</td>
            <td>{{stock}}</td>
            <td>{{price}}</td>
            <td>{{total}}</td>
          </tr>
        {{/each}}
    </tbody>
  </table>
{{else}}
  <p>No hay productos en el carrito.</p>
{{/if}}

<script src="/socket.io/socket.io.js"></script>