{{#if isValid}}
{{#if user}}
  <div>
    <p>Bienvenido, {{user.role}} {{user.name}}.</p>
  </div>
{{/if}}
<div>
  {{#each docs}}
    <div class="product">
        <div>
            <h4>{{this.title}}</h4>
            <p>Precio: ${{this.price}} ARG</p>
            <p>Descripción: {{this.description}}</p>
            <p>Stock actual: {{this.stock}}</p>
            <p>Categoría: {{this.category}}</p>
            <button>Agregar al carrito</button>
        </div>
    </div>
    <br/>
  {{/each}}
</div>
<br/>
<div>
  {{#if hasPrevPage}}
      <a href={{this.prevLink}}><< Anterior</a>
  {{/if}}
    &nbsp;
  {{this.page}}
    &nbsp;
    {{#if hasNextPage}}
      <a href={{this.nextLink}}>Siguiente >></a>
  {{/if}}
</div>   
{{else}}
  <h1>No hay productos para mostrar</h1>
  <p>(O tal vez intentaste ver la lista con una página inexistente)</p>
{{/if}}

